<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/main/css/about.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <div class="about-1">
        <h3>Bee Watch</h3>
    </div>
    <div class="about-2">
        <div>
            <div class="about-head">
                <i class='bx bxs-watch'></i>
                <h2>Bộ Sưu Tập Độc Đáo</h2>
            </div>
            <p>Khám phá bộ sưu tập độc đáo của chúng tôi, được chọn lọc cẩn thận với độ chính xác và phong cách của chúng. Mỗi chiếc đồng hồ kể một câu chuyện độc đáo về sự chính xác và tinh tế.</p>
        </div>
        <img src="/image/images/Omega-4.png">
    </div>
    <div class="about-3">
        <img src="/image/images/hublot-13.png">
        <div>
            <span class="about-head">
                <i class='bx bxs-shopping-bag' style='color:#ffffff' ></i>
                <h2>Mua Sắm An Toàn</h2>
            </span>
            <p>Mua sắm một cách an tâm với sự đảm bảo an toàn và trải nghiệm mua sắm mượt mà từ Bee Watch. Sự hài lòng của bạn là ưu tiên hàng đầu của chúng tôi.</p>
        </div>
    </div>
    <div class="about-2">
        <div>
            <div class="about-head">
                <i class='bx bxs-heart' style='color:#ffffff' ></i>
                <h2>Chất Lượng và Sáng Tạo</h2>
            </div>
            <p>Được chế tác với sự chân thành, mỗi chiếc đồng hồ của chúng tôi đều mang đến chất lượng và sự sáng tạo. Chúng tôi tự hào về việc tạo ra những sản phẩm với độ chính xác và đẹp mắt.</p>
        </div>
        <img src="/image/images/zenith-8.png">
    </div>
    <div class="about-3">
        <img src="/image/images/hublot-10.png">
        <div>
            <span class="about-head">
                <i class='bx bxs-star' style='color:#ffffff' ></i>
                <h2>Sự Sang Trọng và Đẳng Cấp</h2>
            </span>
            <p>Đồng hồ của chúng tôi không chỉ là một chiếc đồng hồ, mà là biểu tượng của sự sang trọng và đẳng cấp. Mang đến cho bạn một trải nghiệm thời gian đỉnh cao.</p>
        </div>
    </div>
    <div class="about-2">
        <div>
            <div class="about-head">
                <i class='bx bx-package'></i>
                <h2>Dịch Vụ Tận Tâm</h2>
            </div>
            <p>Chúng tôi cam kết mang đến dịch vụ tận tâm và chăm sóc khách hàng xuất sắc. Hãy để chúng tôi hỗ trợ bạn chọn lựa chiếc đồng hồ hoàn hảo.</p>
        </div>
        <img src="/image/images/rolex-9.png">
    </div>
    <!-- start block-quote -->
    <div class="block-quote">
        <div class="content">
            <h1>"</h1>
            <p>"Thời gian là cuộc sống, và chúng tôi tôn trọng từng khoảnh khắc. Đồng hồ của chúng tôi không chỉ đo
                giờ, mà còn là những chiếc đồ trang trí tinh tế, là biểu tượng của phong cách và cái đẹp.
                Chúng tôi không chỉ bán đồng hồ, chúng tôi cung cấp những chuyến phiêu lưu thời gian. Mỗi chiếc đồng
                hồ tại cửa hàng là một câu chuyện, một dấu ấn cá nhân trong từng khoảnh khắc của bạn."</p>
            <span>--Châm ngôn sống</span>
            <button>Liên hệ với chúng tôi</button>
        </div>
    </div>
    <!-- end block-quote -->
</body>
</html>