<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản mới</title>
    <link rel="stylesheet" href="/main/css/checkEmail.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="register">
        <h2>Đăng Ký</h2>
        <div class="register-1">
            <div class="form-register">
                <h3>
                    Điền mã để tiếp tục đổi mật khẩu mới
                </h3>
                <p>"Tạo tài khoản mới sẽ giúp người dùng có thêm nhiều lợi ích"</p>
                <div class="contact-left">
                    <span class="content-left">
                        <div>
                            <label style="display: inline-block; margin-right: 10px;">Email <span>*</span><p style="display: inline-block; font-size: 13px; margin-left: 10px;">(Có hiệu lực trong 3 phút)</p></label><br>
                            <input ng-model="codeEmail" class="custom-input" type="text" placeholder="Điền mã được gửi về mail của bạn" ng-blur="checkEmailFormat()">
                            <span class="error" ng-show="emailFormatError">Mã không hợp lệ</span>
                        </div>
                        <!-- <div>
                            <label>Mật khẩu <span>*</span></label><br>
                            <input ng-model="pass" class="custom-input" type="password" placeholder="Điền mật khẩu">
                        </div>
                        <div>
                            <label>Điền lại mật khẩu <span>*</span></label><br>
                            <input ng-model="confirmPass" class="custom-input" type="password" placeholder="Điền lại mật khẩu" ng-blur="checkPass()">
                            <span class="error" ng-show="passwordMatchError">Mật khẩu không trùng khớp</span>
                        </div>                         -->
                    </span>
                    <div class="button">
                        <button class="btn-login" ng-click="xacNhan()">Xác nhận</button>
                        <!-- <p ng-click="login()">Đã có tài khoản?</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>