<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="stylesheet" href="/main/css/term.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="term">
        <div class="term-1">
            <h3>Chính sách và quy định</h3>
            <h4>
                Chính sách và quy định chung về mua hàng, trả hàng và dịch vụ
            </h4>
        </div>
        <div class="term-2">
            <div class="term-left">
                <div class="content-term-left">
                    <p class="active">Chính sách mua hàng</p>
                    <p>Trong các Điều khoản và Điều kiện bán hàng sau đây, trừ khi ngữ cảnh có yêu cầu khác</p>
                    <p>
                        (a) Người mua được đặt hàng với số lượng lớn nhưng nếu vượt quá 50 sản phẩm sẽ phải đặt cọc
                        trước</br>
                        (b) Người mua được mua hàng với số tiền đơn hàng lớn nhưng nếu vượt quá 500 triệu sẽ phải cọc
                        trước</br>
                        (c) Sản phẩm của Shop đều là hàng chính hãng cho nên có đổi trả và hoàn tiền nếu có vấn đề phát
                        sinh</br>
                        (d) Thông báo về đơn hàng của người mua sẽ được thông báo ngay sau khi cập nhập</br>
                        (e) Khi có vấn đề phát sinh ở đơn hàng của bạn, Shop sẽ liên lạc với bạn trong vòng 3 ngày, sau
                        đó nếu ko nhận được thông tin
                        thì Shop sẽ tự động cập nhập/xóa đơn.</br>
                        (f) Người mua khi hủy đơn hàng phải có lý do và nếu đơn hàng bị hủy do Shop thì người mua hãy liên hệ trực tiếp với Shop</br>
                    </p>
                </div>
                <div class="content-term-left">
                    <p class="active">Chính sách đổi trả</p>
                    <p>
                        (a) Người mua được đổi trả sản phẩm và hoàn tiền sản phẩm nếu gặp lỗi sản phẩm</br>
                        (b) Nhà bán hàng sẽ không chấp nhận hoàn/đổi nếu sản phẩm gửi trả lại có lỗi</br>
                        (c) Người mua quay video bóc hàng khi nhận hàng làm bằng chứng khi đổi trả/hoàn sản phẩm</br>
                        (d) Nhà bán hàng sẽ hủy đơn hàng hoàn nếu 7 ngày không nhận được hàng từ người mua kể từ ngày
                        khiếu nại</br>
                        (e) Bảo hành 1 đổi 1 trong 1 tháng nếu người mua hàng gặp bất kì lỗi của sản phẩm từ nhà sản
                        xuất
                        (f) Shop đều đòng hàng cẩn thận nên trong quá trình quay video nếu thấy hàng không còn nguyên vẹn vậy Shop sẽ không đáp ứng lý do nào!
                    </p>
                </div>
                <div class="content-term-left">
                    <p class="active">Liên hệ</p>
                    <p>
                        Shop hoạt động từ 8 giờ sáng đến 16 giờ các ngày trong tuần từ thứ 2 đến thứ 7
                    </p>
                </div>
                <div class="content-term-left">
                    <p class="active">Vận chuyển</p>
                    <p>
                        (a) Nhà bán hàng sẽ gửi hàng cho đơn vị vận chuyển, thu tiền khách hàng theo phương thức COD</br>
                        (b) Nhà bán hàng gọi điện đến cho khách hàng để lấy thông tin và trao đổi về tiền vận chuyển</br>
                    </p>
                </div>
            </div>
            <div class="term-right">
                <ul>
                    <li>
                        <p class="active">Mục lục</p>
                    </li>
                    <li>Chính sách mua hàng</li>
                    <li>Chính sách đổi trả</li>
                    <li>Liên hệ</li>
                    <li>Vận chuyển</li>
                    <li>Tài khoản</li>
                    <li>Thay đổi địa chỉ</li>
                    <li>Không nhận hàng</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>